simiNew/
gitrepo/
commits.pickle
.idea/
.DS_Store
__pycache__/
*.pyc
dtm/
parsedFiles/
bugPoints/
*.zip
simi/
simiSingle/
code/Results_Multiple.xlsx
code/Results_Single.xlsx
datasets/
features/
featuresOld2/
featuresOld/

code/simiSingleM/
code/tokens/
featuresP/
code/simiS/
code/simiMulti/
code/simiMS/
code/parsedFilesSingle/
code/dtmSingle/
code/dtmMulti/
code/bugReports/
code/bugPointsNV/
*.7z
classifiers/
predictions/
*.log
code/allResults*
code/parsedPj/*
code/simiMSNewG/*
code/simiSNewG/*
code/singlePred/*
code/dtmSingleNewG/*
featuresNewG/*
OAR*
data2/*
